--swiftversion 5.3
--exclude Pods,Carthage,Generated,AniListSDK/GraphQL,**/.build,DangerDependencies
--disable blankLinesAtStartOfScope,elseOnSameLine,trailingCommas,wrapMultilineStatementBraces
--enable isEmpty,markTypes
